$font:"Montserrat", sans-serif;
$primary-text-color:#23a6f0;
$second-text-color:#737373;
$primary-text-color:$primary-text-color;
$muted-color:#BDBDBD;
$danger-color:#E74040;
$light-background-color:#FFFFFF;
$text-color:#252B42;
$dark-background-color:#252B42;
$light-gray-1:#FAFAFA;
$light-text-color:#FFFFFF;
$alert-color:#E77C40;
$secondary:#F3CD03;
$secondary-color-1:#40BB15;

$light-drop-shadow:0 2px 4px rgba(0,0,0,0.01)
$accentued-drop-shadow:0 13px 19px rgba(0,0,0,0.07)