h1 {
  font-size: 58px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a {
  font-size: 14px;
}

small {
  font-size: 12px;
}

.btn-text {
  font-size: 14px;
}

p {
  font-size: 14px;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #252b42;
}

.impression-section .impression-section-bottom, .aprodable, .evalution, .hero-content, header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content .hero-content-left .button-section, header .menu-content-wrapper {
  display: flex;
  align-items: center;
}

header .button-wrapper .btn-link, header .menu-content-wrapper .menu-wrapper .menu-item-wrapper a {
  color: #ffffff;
  font-weight: 700;
}

header {
  padding: 30px 195px;
  background-color: #184c99;
}
header .menu-content-wrapper {
  gap: 83px;
}
header .menu-content-wrapper .menu-wrapper {
  display: flex;
  gap: 21px;
}
header .button-wrapper {
  display: flex;
  align-items: center;
  gap: 45px;
}
header .button-wrapper .btn-primary {
  background-color: #23a6f0;
  color: #ffffff;
  padding: 15px 25px;
  display: flex;
  gap: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.hero-content {
  background-image: url("../img/Vector.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
  margin-top: 50px;
  padding: 0px 195px;
}
.hero-content .hero-content-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-right: 50px;
  margin-top: 180px;
}
.hero-content .hero-content-left h5 {
  color: #23a6f0;
  font-weight: 700;
}
.hero-content .hero-content-left .title {
  font-size: 58px;
  color: #ffffff;
  line-height: 80px;
  letter-spacing: 0.2px;
  width: 542px;
  font-weight: 700;
}
.hero-content .hero-content-left .hero-content-left-text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
  width: 369px;
}
.hero-content .hero-content-left .button-section .btn-1 {
  margin-right: 30px;
  border: none;
  padding: 15px 40px;
  background-color: #23a6f0;
  color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
}
.hero-content .hero-content-left .button-section .btn-2 {
  border: 1px solid #23a6f0;
  padding: 15px 40px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
  color: #ffffff;
}
.hero-content .hero-content-right {
  position: absolute;
  top: 50px;
  right: 50px;
}

.evalution {
  margin-top: 800px;
  padding: 30px 195px;
  background-color: #252b42;
}
.evalution .evalution-item {
  width: 328px;
  height: 292px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 35px 40px;
}
.evalution .evalution-item img {
  width: 50px;
  height: 50px;
}
.evalution .evalution-item h3 {
  color: #252b42;
  font-weight: 700;
  margin-top: 10px;
}
.evalution .evalution-item .evalution-text {
  line-height: 22px;
  font-size: 14px;
}

.aprodable {
  background-color: #252b42;
  padding: 50px 160px;
  margin-top: 154px;
}
.aprodable .aprodable-img {
  display: inline-block;
  width: 508px;
  height: 441px;
  margin-right: 153px;
}
.aprodable .aprodable-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 120px;
}
.aprodable .aprodable-right .danger {
  width: 28%;
  height: 7%;
}
.aprodable .aprodable-right .aprodable-header {
  font-size: 58px;
  color: #ffffff;
  line-height: 64px;
  letter-spacing: 0.2px;
  width: 542px;
  font-weight: 700;
}
.aprodable .aprodable-right .aprodable-text {
  color: #ffffff;
  width: 388px;
  font-size: 16px;
  line-height: 26px;
}
.aprodable .aprodable-right .aprodable-link {
  display: flex;
  gap: 15px;
  color: #23a6f0;
  font-size: 18px;
  font-weight: 700;
}

.section-3 {
  padding: 30px 195px;
}
.section-3 .section-3-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-3 .section-3-top .section-3-top-h6 {
  color: #23a6f0;
  font-size: 20px;
  font-weight: 500;
}
.section-3 .section-3-top .section-3-top-h2 {
  color: #ffffff;
  font-weight: 700;
}
.section-3 .section-3-top .section-3-top-text {
  color: #ffffff;
  line-height: 21px;
}
.section-3 .section-3-container {
  margin-top: 100px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.section-3 .section-3-container .section-3-bottom {
  background-color: #ffffff;
  width: 330px;
  position: relative;
}
.section-3 .section-3-container .section-3-bottom .sale {
  position: absolute;
  top: 10px;
  left: 10px;
}
.section-3 .section-3-container .section-3-bottom .product {
  position: absolute;
  top: 242px;
  right: 98px;
}
.section-3 .section-3-container .section-3-bottom-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.section-3 .section-3-container .section-3-bottom-container .section-3-bottom-header {
  display: flex;
  align-items: center;
  gap: 75px;
}
.section-3 .section-3-container .section-3-bottom-container .section-3-bottom-header .department-link {
  color: #23a6f0;
  font-weight: 700;
  font-size: 14px;
}
.section-3 .section-3-container .section-3-bottom-container .graphic-design {
  color: #252b42;
  font-size: 18px;
  font-weight: 800;
}
.section-3 .section-3-container .section-3-bottom-container .section-3-bottom-container-text {
  width: 282px;
  line-height: 22px;
  color: #737373;
}
.section-3 .section-3-container .section-3-bottom-container .sales {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-3 .section-3-container .section-3-bottom-container .sales .sales-number {
  color: #737373;
  font-weight: 700;
}
.section-3 .section-3-container .section-3-bottom-container .price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-3 .section-3-container .section-3-bottom-container .price .grey-price {
  color: #bdbdbd;
  font-weight: 700;
}
.section-3 .section-3-container .section-3-bottom-container .price .green-price {
  color: #40bb15;
  font-weight: 700;
}
.section-3 .section-3-container .section-3-bottom-container .section-3-footer {
  display: flex;
  justify-content: space-between;
}
.section-3 .section-3-container .section-3-bottom-container .section-3-footer .calendar-text {
  color: #737373;
  font-weight: 500;
}
.section-3 .section-3-container .section-3-bottom-container .section-3-footer .smooth-text, .section-3 .section-3-container .section-3-bottom-container .section-3-footer .outlined-text {
  color: #737373;
  font-weight: 700;
}
.section-3 .section-3-container .section-3-bottom-container .section-3-learn {
  padding: 20px 10px;
  border: 2px solid #23a6f0;
  display: flex;
  align-items: center;
  width: 200px;
  border-radius: 50px;
  margin-top: 30px;
}
.section-3 .section-3-container .section-3-bottom-container .section-3-learn .learn {
  margin-right: 25px;
  margin-left: 10px;
  color: #23a6f0;
  font-weight: 700;
}

.impression-section {
  padding: 30px 195px;
  margin-top: 100px;
}
.impression-section .impression-section-top {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.impression-section .impression-section-top .impression-section-top-header {
  color: #23a6f0;
  font-weight: 700;
  font-size: 20px;
}
.impression-section .impression-section-top .impression-section-top-header-2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 44px;
}
.impression-section .impression-section-top .impression-section-text {
  color: #ffffff;
}
.impression-section .impression-section-bottom {
  gap: 10px;
}
.impression-section .impression-section-bottom .impression-section-item {
  background-color: #ffffff;
  padding: 102px;
  text-align: center;
}
.impression-section .impression-section-bottom .impression-section-item .impression-section-bottom-text {
  margin-top: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.impression-section .impression-section-bottom .impression-section-item .impression-section-footer {
  gap: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.impression-section .impression-section-bottom .impression-section-item .impression-section-footer .username {
  color: #23a6f0;
  font-weight: 700;
}
.impression-section .impression-section-bottom .impression-section-item .impression-section-footer .designer {
  color: #252b42;
  margin-left: -30px;
}

.featured {
  padding: 100px 195px;
  text-align: center;
}
.featured .featured-top {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 100px;
}
.featured .featured-top .featured-top-header {
  color: #23a6f0;
  font-weight: 700;
}
.featured .featured-top .featured-top-header-main {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
}
.featured .featured-top .featured-top-text {
  color: #ffffff;
}
.featured .featured-bottom {
  position: relative;
  text-align: center;
}
.featured .featured-bottom .email {
  background-color: #ffffff;
  width: 688px;
  height: 58px;
}
.featured .featured-bottom ::-moz-placeholder {
  color: grey;
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
}
.featured .featured-bottom ::placeholder {
  color: grey;
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
}
.featured .featured-bottom .subscribe {
  background-color: #23a6f0;
  color: #ffffff;
  position: absolute;
  font-size: 20px;
  padding: 17px 23px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: baseline;
  padding: 30px 195px;
  line-height: 54px;
}
.footer li {
  color: #ffffff;
}
.footer .list-header {
  color: #ffffff;
  font-weight: 500;
  font-size: 25px;
}
.footer .list-header-text {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 20px 0;
}/*# sourceMappingURL=style.css.map */